.landing-text {
  position: absolute;
  width: 100%;
  max-width: 640px;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  padding: 12px;
  box-sizing: border-box;
  text-align: center;
}

.headline {
  font-family: var(--primary-font);
  font-size: 64px;
  max-width: 640px;
  width: 100%;
  color: white;
  letter-spacing: 1.25px;
}

.subtext {
  font-size: 13px;
  color: white;
  font-family: var(--secondary-font);
  padding: 0 8px;
}

@media (max-width: 640px) {
  .landing-text {
    top: 32.5%;  
  }

  .headline {
    font-size: 44px;
    top: 35%;
  }
}

.come-here-btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 12.5%;
}