.slick-slide img {
  width: 100%;
  height: calc(100vh - 80px);
  object-fit: cover;
  object-position: top;
}

.gradient {
  position: relative;
}

.gradient::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom, var(--secondary-color-dark), var(--secondary-color-light));
  opacity: .8;
}

.slick-slider button {
  display: none !important;
}