@import url('https://fonts.googleapis.com/css2?family=Sintony&family=Palette+Mosaic&family=Poppins:wght@400;500;600;700&display=swap');

:root {
  --primary-font: 'Sintony';
  --secondary-font: 'Poppins';
  --ternary-font: 'Palette Mosaic';
  --primary-color: #fda516;
  --primary-color-dark: #e88401;
  --primary-color-light: #fed053;
  --secondary-color: #182238;
  --secondary-color-dark: #141a29;
  --secondary-color-light: #212f52;
  --ternary-color: #e5e5e5;
  --ternary-color-dark-bold: #7c7c7c;
  --ternary-color-dark: #b2b2b2;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  overflow-x: hidden;
  background-color: var(--seconday-color);
}

#root {
  position: relative;
  overflow-x: hidden;
  min-width: 100vw;
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6, p, span, div {
  color: var(--ternary-color);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--primary-font);
  letter-spacing: 1.5px;
} 

p, span, div {
  font-family: var(--secondary-font);
}